.bodycolor{
    background-color: #76a7a4;
}
.firstdiv{
    line-height: 3;
    padding: 35px 130px;
}
.backgroundstyleheaddiv{
    background-color: black;
    opacity: 0.6;
    padding: 95px;
    border-radius: 25px 25px 0px 0px;   
}
.headdiv{
    text-align-last: center; 
    color: #ffff;
    background-size: 100%; 
    border-radius: 25px 25px 0px 0px;   
}

.maindiv{
    background-color : #ffffff;
    border-radius: 0px 0px 25px 25px;
    min-height: 350px;
}
.form{
    font-family: sans-serif;
    padding: 35px 160px;
}
.err{
    text-align: center;
    color: white;
    background: #f79393;
}
.input{
    border-width: 0 0 2px;
}